/* ==========================
   PAGE MQTT
   ========================== */

#mqttForm {
    margin: 20px auto;
    width: 60%;
    display: flex;
    gap: 10px;
}

#mqttMessage {
    flex: 1;
    padding: 12px;
    border-radius: 15px;
    border: none;
    background: rgba(255,255,255,0.07);
    color: white;
}

#mqttForm button {
    padding: 12px 25px;
    border-radius: 15px;
    background: #3b82f6;
    color: white;
    border: none;
    cursor: pointer;
}

#status {
    margin-top: 15px;
    color: #94d0ff;
    text-align: center;
}